body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background: white;
}
textarea {
	width: 100%;
	min-height: 15rem;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 0.8rem;
	line-height: 1.2;
}
