<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Channel Demo Main</title>
    <link rel="stylesheet" href="/platform-messaging-channel/style/main.css" />
  </head>
  <body>
    <h1>This is a basic example of an OpenFin Channel API app.</h1>
    <p>
      <a href="/platform-messaging-channel/views/channel/channel.html" target="_blank">Launch Channel</a>
    </p>
    <p>
      <a href="/platform-messaging-channel/views/view-one/view-one.html" target="_blank">Launch View One</a>
    </p>
    <p>
      <a href="/platform-messaging-channel/views/view-two/view-two.html" target="_blank">Launch View Two</a>
    </p>
  </body>
</html>
