<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>OpenFin Custom Provider (Made Visible For Demo Purposes with autoShow set to true)</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="module" src="/platform-init-params/views/provider/provider-init-window.js"></script>
        <script type="module" src="/platform-init-params/views/main/main.js"></script>
        <link rel="stylesheet" href="/platform-init-params/style/main.css" />
    </head>
    <body>
        <div>
            Custom Provider...
        </div>
    </body>
</html>
