<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Init Demo</title>
    <script type="module" src="/platform-init-params/views/main/main.js"></script>
    <link rel="stylesheet" href="/platform-init-params/style/main.css" />
  </head>
  <body>
    <h1>This is a basic example of an OpenFin App being passed information when launched/relaunched.</h1>
    <p>
      The init param will specify the background colour of this page.
    </p>
  </body>
</html>
