<html>
    <head>
        <title>View wishing to capture window context data in snapshot</title>
    </head>
    <style>
        body {
            background-color:white;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <script src="view-one.js"></script>
    <body>
        <h1>
            View wishing to capture window context data in snapshot
        </h1>
        <div>
            <div>
                <h4>Data To Save:</h4>
                <input id="data-to-save" type="text"></input>
            </div>
            <div>
                <h4>Retrieved Data:</h4>
                <span id="retrieved">None Received</span>
            </div>
            <div>
                <h4>Save:</h4>
                <button id="save">Save</button>
            </div>
            <div id="apply-container" style="display:none">
                <h4>Apply:</h4>
                <button id="apply">Apply</button>
            </div>
        </div>
    </body>
</html>