<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Channel Demo View One</title>
    <script type="module" src="/platform-messaging-channel/views/view-one/view-one.js"></script>
    <link rel="stylesheet" href="/platform-messaging-channel/style/main.css" />
  </head>
  <body>
    <h1>View One</h1>
    <h2>This is a basic example of an OpenFin Channel API app.</h2>
    <p>
      <button id="call-channel-action-helloworld" disabled>
        Call Channel
      </button>
      <button id="call-channel-action-doesnotexist" disabled>
        Call Channel Non-Existent Action
      </button>
      <button id="clear-console">
        Clear Console
      </button>
    </p>
    <p>
      <textarea name="" id="console" cols="30" rows="5"></textarea>
    </p>
    <p></p>
  </body>
</html>
