<html>
    <head>
        <title>View Self Show</title>
    </head>
    <style>
        body {
            background-color:navajowhite;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <script type="application/javascript">
        window.addEventListener('DOMContentLoaded', async (event) => {
            const viewName = document.getElementById("view-name");
            viewName.innerText = fin.me.identity.name;
            // we have now got all the data we need so we will become visible
            const view = fin.View.getCurrentSync();
            const win = await view.getCurrentWindow();
            await win.show();
        });
    </script>
    <body>
        <h1>
            View Self Show
        </h1>
        <div>
            <h4>View Name:</h4>
            <span id="view-name">Not Set</span>
            <h4>Launched from a hidden window as autoshow false and decides when it is ready to show.</h4>
         </div>
    </body>
</html>